<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.clues.mapper.SysDictDataMapper">

    <select id="selectDictDataByMap" resultType="com.huike.clues.domain.SysDictData">
        SELECT dict_code,
               dict_sort,
               dict_label,
               dict_value,
               dict_type,
               css_class,
               list_class,
               is_default,
               status,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        FROM sys_dict_data
        WHERE dict_value = #{dictValue}
          AND dict_type = #{dictType}
    </select>
</mapper>